<div class="about slin2">
   <div class="container">
      <div class="row d_flex">
         <div class="col-md-6">
            <div class="titlepage">
               <h2>Acerca de nosotros</h2>
               <p>"Siempre Bella no es solo un nombre, es una promesa. Aquí, la belleza se entiende como un arte y una
                  ciencia. <span class="nombre">Adriana</span> , nuestra experta graduada en belleza, combina su pasión y conocimiento
                  para ofrecerte tratamientos y consejos personalizados. "</p>
               <p>Con años de experiencia y un amor genuino por lo que hace, se asegura de que cada cliente se sienta y
                  luzca espectacular. Ya sea que te estés preparando para un gran evento o simplemente desees realzar tu
                  belleza cotidiana, confía en <span class="nombre-empresa">Siempre Bella</span> para ser tu aliada en cada paso. Porque para nosotros, cada
                  día es una oportunidad para que brilles.</p>
            </div>
         </div>
         <div class="col-md-6">
            <div class="about_img">
               <figure><img src="./assets/images/about.jpeg" alt="#" /></figure>
            </div>
         </div>
      </div>
   </div>
</div>