<div  class="experts slin2">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Galería</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-12">
             <div class="galeria-grid">
                 <div class="galeria-item">
                     <img src="./assets/images/galeria/galeria_05.jpg" alt="Imagen galería">
                 </div>
                <div class="galeria-item">
                    <img src="./assets/images/galeria/galeria_01.jpg" alt="Imagen galería">
                </div>
                <div class="galeria-item">
                    <img src="./assets/images/galeria/galeria_02.jpg" alt="Imagen galería">
                </div>
                <div class="galeria-item">
                    <img src="./assets/images/galeria/galeria_03.jpg" alt="Imagen galería">
                </div>
                <div class="galeria-item">
                    <img src="./assets/images/galeria/galeria_04.jpg" alt="Imagen galería">
                </div>
                <div class="galeria-item">
                    <img src="./assets/images/galeria/galeria_06.jpg" alt="Imagen galería">
                </div>
                <div class="galeria-item">
                    <img src="./assets/images/galeria/galeria_07.jpeg" alt="Imagen galería">
                </div>
                <div class="galeria-item">
                    <img src="./assets/images/galeria/galeria_08.jpg" alt="Imagen galería">
                </div>
                
             </div>
          </div>
       </div>
    </div>
 </div>