<div class="we_do slin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Nuestros Servicios</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                            <i><img src="./assets/images/weicon1.png" alt="#" /></i>
                            <h3>Arte de uñas</h3>
                            <p>Diseños exclusivos que capturan miradas.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                            <i><img src="./assets/images/weicon2.png" alt="#" /></i>
                            <h3>Manicure</h3>
                            <p>Elegancia y cuidado en tus manos.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                            <i><img src="./assets/images/weicon3.png" alt="#" /></i>
                            <h3>Pedicure</h3>
                            <p>Paso firme con estilo inigualable.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="we_box">
                            <i><img src="./assets/images/weicon4.png" alt="#" /></i>
                            <h3>Cosméticos</h3>
                            <p>Realza tu belleza con distinción.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>