<footer>
   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <ul class="conta">
                  <li><i class="fa fa-map-marker" aria-hidden="true"></i> San Sebastián, Av. Ejército entre Espíndola y
                     Gonzanamá</li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>+593 96 787 7450</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <p>© {{year}} Reservado todos los derechos. Diseñado y Distribuido por <a href="https://dmarmijosa.github.io/portafolio-web/">
                        Danny Armijos.</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>